*{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
ol, ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.header {
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav ul {
  display: flex;
  align-items: center;
}
.nav ul li{
  margin-left: 30px;
  margin-right: 30px;
}
.nav ul li a{
  color: #000;
  padding-bottom: 15px;
}
.nav ul li a:hover{
  border-bottom: 4px solid #07A568;
  transition: all ease 0.01s;
}
.header__btn a{
  background-color: #07A568;
  border-radius: 40px;
  cursor: pointer;
  padding: 20px 40px;
  color: #fff;
}
.footer{
  background: #F5F5F5;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__logo{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.footer__nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.soc__item {
  margin-left: 20px;
  margin-right: 20px;
  
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  height: 40px;
  width: 40px;
}
.footer__mail{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.footer__mail a{
  text-decoration: underline;
  text-align: center;
  font-size: 18px;
  color: #000;
}
.footer__text{
  display: flex;
  justify-content: center;
}
.footer__text p{
  font-size: 18px;
  color: #9D9D9D;
}
.study {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.study__img img{
  max-width: 70%;
}
.study__info {
  width: 45%;
}
.study__title {
  font-size: 35px;
  font-weight: 700;
}
.line {
  height: 3px;
  width: 200px;
  background: #07A568;
}
.study__text {
  font-size: 20px;
  font-weight: 400;
}
.study__btn {
  font-size: 20px;
  color: #07a568;
}
.come {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 50px;
}
.come__info{
  margin-right: 50px;
  width: 900px;
}
.end__come-info{
  max-width: 600px;
}
.come__title {
  font-weight: bold;
  font-size: 65px;

  color: #2C2C2C;
}
.come__text {
  font-size: 20px;
}
.come__input {
  width: 590px;
}
.come__input input{
  border: none;
  border-bottom: 1px solid #2C3A53;
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}
.input__name{
  width: 100%;
  
}
.input__phn{
  width: 100%;
}
.input__btn {
  display: flex;
}
.input__phone{
  margin-bottom: 50px;
}

.checkmark{
  font-size: 20px;
  user-select: none;
}
.checkmark span{
  margin-left: 16px;
}
.come__img img{
  max-width: 100%;
}
.input__btn-a{
  margin-right: 20px;
}
.input__btn-a a{
  background-color: #07A568;
  border-radius: 40px;
  cursor: pointer;
  padding: 20px 40px;
  color: #fff;
}
.input__btn-a a img{
  width: 40px;
  position: relative;
  top: 7px;
  left: 10px;
}
.lesson__bg {
  margin-top: 50px;
  background: url(../img/bg.jpg);
  opacity: 0.8;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.lesson{
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(144.19deg, rgba(97, 255, 194, 0.66) -72.72%, rgba(0, 165, 101, 0.4488) 81.79%);
}
.lesson__title {
  opacity: 100%;
  font-weight: 900;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.34);
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.lesson__text {
  color: #fff;
  width: 45%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.29);

}
.lesson__btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.lesson__btn a{
  opacity: 100%;
  cursor: pointer;
  padding: 20px 40px;
  color: #fff;
  background: #07A568;
  border: 2px solid #07A568;
  box-sizing: border-box;
  border-radius: 555px;
}
.step {
  margin-top: 100px;
  margin-left: 90px;
  display: grid;
   grid-template-columns: repeat(3, 0.5fr);
   grid-template-rows: repeat(3, 1px);
   grid-gap: 7rem;
}
.step__item {
  position: relative;
}
.step__item:nth-child(1)::before{
  content: url(../img/1.svg);
  position: absolute;
  top:-60px;
  left: -75px;
}
.step__item:nth-child(2)::before{
  content: url(../img/2.svg);
  position: absolute;
  top:-60px;
  left: -100px;
}
.step__item:nth-child(3)::before{
  content: url(../img/3.svg);
  position: absolute;
  top:-60px;
  left: -105px;
}
.step__line {
  margin-left: -30px; 
  width: 100px;
}
.step__title {
  margin-bottom: 1px;
  font-size: 25px;
}
.step__text {
  color: #848484;
  line-height: 20px;
  font-size: 18px;
}
.step__text a{
  color: #07A568;
  text-decoration: underline;
}
.step__btn a{
  text-transform: uppercase;
  color: #07A568;
  font-weight: 700;
  font-size: 20px;
}
.end{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.end__grid {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 0.2fr);
  grid-template-rows: 0px;
  grid-gap: 10rem;
}
.end__title{
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  color: rgba(7, 165, 104, 0.46);
}
.end__title2{
  font-weight: bold;
  font-size: 55px;
  line-height: 79px;
  color: #2C2C2C;
}
.end__title span{
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
}
.end__title2 span{
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 900;
}
.item__title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 5px;
  margin-bottom: 30px; 
}
.item__text {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
}
.end__btn{
  margin-top: 50px;
  margin-left: -130px;
  display: flex;
  justify-content: center;  
}
.end__btn a{
  text-transform: uppercase;
  font-size: 20px;
  color: #07A568;
}
.end__item{
  width: 45%;
}
.grid__item{
  position: relative;
}
.grid__item:nth-child(1)::before{
  content: url(../img/4.svg);
  position: absolute;
  top: -30px;
  left: -85px;

}
.grid__item:nth-child(2)::before{
  content: url(../img/5.svg);
  position: absolute;
  top: -30px;
  left: -85px;

}

.grid__item:nth-child(3)::before{
  content: url(../img/6.svg);
  position: absolute;
  top: -30px;
  left: -85px;

}
.grid__item:nth-child(4)::before{
  content: url(../img/7.svg);
  position: absolute;
  top: -30px;
  left: -85px;
}

.accordion {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 20px 0;
    width: 50%;
    border: none;
    
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
    appearance: none;
}
.panel{
  margin-bottom: 150px;
  position: relative;
  border-bottom: 1px solid #07A568;
}
.panel p:before{
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 2px;
  height: 60%;
  background: #07A568;
}
.active
.active, .accordion:hover {
   
}

.accordion::before {
  content: "";
  border: solid #07A568;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  float: right;
  transform: rotate(-45deg);
  transition: 0.2s;
}

.active::before {
    content: "";
    transform: rotate(45deg);
}

.panel {
  width: 600px;
  margin: 0 auto;
  padding: 0 18px;
  color: #212121;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.panel__btn{
  color: #07A568;
  text-decoration: underline;
}
.span__panel{
  color: #07A568;
}
.accordion__wrapper{
  padding-top: 100px;
  padding-bottom: 100px;
}
.acc__title {
  position: relative;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
/* identical to box height */

  text-align: center;
}
.acc__title::before{
  content: url(../img/Group\ 63.svg);
  position: absolute;
  right: 300px;
  top: 0;
}
.acc__text {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
}
.panel {
  text-align: left;
}
.acc__btn {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;

  color: #2B2B2B;
}
.acc__btn a{
  color: #07A568;
  margin-left: 10px;
  text-decoration: underline;
}
.acc__wrap{
  margin-top: 50px;
  text-align: center;
}
.first__block {
  background: rgb(238,252,254);
background: linear-gradient(90deg, rgba(238,252,254,1) 0%, rgba(216,254,232,1) 100%);
}
.first {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../img/Group\ 61.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between; 
}
.first__wrap {
  display: flex;
  justify-content: space-between;
}
.first__item {
  float: left;
  width: 800px;
  margin-left: 300px;
}

.first__title {
  font-size: 70px;
  font-weight: 700;
}
.first__title span{
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;

}
.first__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
  text-align: justify;

  color: #414141;
}
.first__btn {
  margin-top: 50px;
  display: flex;
}
.first__btn div{
  margin-right: 50px;
}
.first__btn div:nth-child(1) a{
  background-color: #07A568;
  border-radius: 40px;
  cursor: pointer;
  padding: 20px 40px;
  color: #fff;
}
.first__btn div:nth-child(2) a{
  color: #07A568;
  font-size: 25px;
}

.first__img{
  float: right;
}
.first__img img{
  max-width: 100%;
  
}
.bef1{
  padding-top: 50px;
  padding-bottom: 50px;
}
.bef1, .bef2, .bef3, .bef4{
  position: relative;
}
.bef1::before{
  content: url(../img/bef1.jpg);
  right: 0;
  top: 50px;
  position: absolute;
}
.bef2::before{
  content: url(../img/bef2.jpg);
  right: 0;
  top: -50px;
  position: absolute;
}
.bef3::after{
  content: url(../img/bef3.svg);
  left: 250px;
  top: 20px;
  position: absolute;
}
.bef3::before{
  content: url(../img/bef4.svg);
  right: 0px;
  position: absolute;
}
.bef4::before{
  content: url(../img/bef5.svg);
  right: 0px;
  top: -155px;
  height: 50px;
  position: absolute;
}

input[type="checkbox"]{
  display: none;
}
input[type="checkbox"] + label span{
  display:inline-block;
    height: 30px;
    width: 30px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/checkbox.svg) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/checkbox_checked.svg)  top no-repeat;
}	
label a{
  margin-left: 40px;
  color: #07A568;
  text-decoration: underline;
}